{% extends 'finances/base.html' %}
{% block title %}Добавить транзакцию{% endblock %}
{% block content %}
<h2>➕ Новая транзакция</h2>

<form method="post">
    {% csrf_token %}
    <p>
        <label>{{ form.category.label }}:</label><br>
        {{ form.category }}
    </p>
    <p>
        <label>{{ form.amount.label }} (₽):</label><br>
        {{ form.amount }}
    </p>
    <p>
        <label>{{ form.description.label }}:</label><br>
        {{ form.description }}
    </p>
    <button type="submit">Сохранить</button>
    <a href="{% url 'finances:transaction_list' %}">Отмена</a>
</form>

{% endblock %}

